<GeneralContainer>
  <div class='flex-container'>
    <div class='joke-section'>
      <div class='header'>
        <i class='fa-solid fa-2x fa-sleigh fa-bounce'></i>
        <h1 class='title'>Kilburn Christmas Crackers!</h1>
        <i class='fa-solid fa-2x fa-gift fa-bounce'></i>
      </div>
    </div>
    <Joke />
    <LinkTo @route='team' class='team-link'>
      <div class='team'>
        <i class='fa-solid fa-gift'></i>
        <span>Meet the team!</span>
        <i class='fa-solid fa-gift'></i>
      </div>
    </LinkTo>
  </div>
  <Footer />
</GeneralContainer>