<GeneralContainer>
  <div class='team-page-text'>
    <h1>Santa will visit this page next time!</h1>
    <LinkTo @route='index' class='team-page-link'>
      <div class='team-back-button'>
        <i class='fa-solid fa-gift'></i>
        <span>Back to jokes!</span>
        <i class='fa-solid fa-gift'></i>
      </div>
    </LinkTo>
  </div>
</GeneralContainer>